In [1]:
import pandas as pd
import numpy as np

## Â§öÁ∫ßÁ¥¢ÂºïÂàõÂª∫

In [2]:
# PandasÂ§öÁ∫ßÁ¥¢ÂºïÔºö
# Á¨®ÂäûÊ≥ï
index = [('C', 2000), ('C', 2010),
         ('N', 2000), ('N', 2010),
         ('T', 2000), ('T', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
print(pop)

(C, 2000)    33871648
(C, 2010)    37253956
(N, 2000)    18976457
(N, 2010)    19378102
(T, 2000)    20851820
(T, 2010)    25145561
dtype: int64

In [3]:
# Â•ΩÂäûÊ≥ï
# ÂàõÂª∫Â§öÁ∫ßÁ¥¢Âºï
index = pd.MultiIndex.from_tuples(index)
print(index)
pop = pop.reindex(index)  # Êõ¥Êñ∞Á¥¢Âºï
pop = pd.Series(populations, index=index)
print(pop)
print(pop[:, 2010])
print(pop.loc[:'N', 2000])

MultiIndex([('C', 2000),
            ('C', 2010),
            ('N', 2000),
            ('N', 2010),
            ('T', 2000),
            ('T', 2010)],
           )
C  2000    33871648
   2010    37253956
N  2000    18976457
   2010    19378102
T  2000    20851820
   2010    25145561
dtype: int64
C    37253956
N    19378102
T    25145561
dtype: int64
C  2000    33871648
N  2000    18976457
dtype: int64

In [4]:
# Â§öÁ∫ßÁ¥¢ÂºïËΩ¨Âåñ‰∏∫ÊôÆÈÄöÁ¥¢Âºï
pop_f = pop.unstack()
print(pop_f)
print(pop_f.stack())

       2000      2010
C  33871648  37253956
N  18976457  19378102
T  20851820  25145561
C  2000    33871648
   2010    37253956
N  2000    18976457
   2010    19378102
T  2000    20851820
   2010    25145561
dtype: int64

In [5]:
pop_df = pd.DataFrame({'total': pop, 'under18': [9267089, 9284094,
                                                 4687374, 4318033,
                                                 5906301, 6879014]})
print(pop_df)
f = pop_df['under18']/pop_df['total']
print(f)
print(f.unstack())

           total  under18
C 2000  33871648  9267089
  2010  37253956  9284094
N 2000  18976457  4687374
  2010  19378102  4318033
T 2000  20851820  5906301
  2010  25145561  6879014
C  2000    0.273594
   2010    0.249211
N  2000    0.247010
   2010    0.222831
T  2000    0.283251
   2010    0.273568
dtype: float64
       2000      2010
C  0.273594  0.249211
N  0.247010  0.222831
T  0.283251  0.273568

In [6]:
# Â§öÁ∫ßÁ¥¢ÂºïÁöÑÂàõÂª∫ÊñπÊ≥ï
# TODO 1: *index* ËÆæÁΩÆ‰∏∫Â§öÁª¥Á¥¢ÂºïÊï∞ÁªÑ
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'],
                         [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
print(df)

        data1     data2
a 1  0.994173  0.891114
  2  0.017415  0.790962
b 1  0.594080  0.041632
  2  0.001895  0.313100

In [7]:
#TODO 2: *ÂÖÉÁªÑ* ‰∏∫ *ÈîÆ* ÁöÑÂ≠óÂÖ∏‰º†ÈÄíÁªôpandas
data = {('C', 2000): 33871648,
        ('C', 2010): 37253956,
        ('N', 2000): 18976457,
        ('N', 2010): 19378102,
        ('T', 2000): 20851820,
        ('T', 2010): 25145561}
pop = pd.Series(data)
print(pop)

C  2000    33871648
   2010    37253956
N  2000    18976457
   2010    19378102
T  2000    20851820
   2010    25145561
dtype: int64

In [8]:
# TODO 3:‰∏çÂêåÁ≠âÁ∫ßÁöÑËã•Âπ≤ÁÆÄÂçï *Êï∞ÁªÑ* ÁªÑÊàêÁöÑÂàóË°® pd.MultiIndex.from_arrays
index = pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'],
                                   [1, 2, 1, 2]])
df.reindex(index)

        data1     data2
a 1  0.994173  0.891114
  2  0.017415  0.790962
b 1  0.594080  0.041632
  2  0.001895  0.313100

In [9]:
# TODO 4:ÂåÖÂê´Â§ö‰∏™Á¥¢ÂºïÂÄºÁöÑ *ÂÖÉÁªÑ* ÊûÑÊàêÁöÑÂàóË°® pd.MultiIndex.from_tuples
index = pd.MultiIndex.from_tuples([('a', 1), ('a', 2),
                                   ('b', 1), ('b', 2)])
df.reindex(index)

        data1     data2
a 1  0.994173  0.891114
  2  0.017415  0.790962
b 1  0.594080  0.041632
  2  0.001895  0.313100

In [10]:
# TODO 5: *‰∏§‰∏™Á¥¢Âºï* ÁöÑÁ¨õÂç°Â∞îÁßØ pd.MultiIndex.from_product
index = pd.MultiIndex.from_product([['a','b'],[1,2]])
df.reindex(index)

        data1     data2
a 1  0.994173  0.891114
  2  0.017415  0.790962
b 1  0.594080  0.041632
  2  0.001895  0.313100

In [11]:
# TODO 6:Êèê‰æõ *levels* Âíå *codes*
index = pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
                      codes=[[0, 0, 1, 1], [0, 1, 0, 1]])
df.reindex(index)

        data1     data2
a 1  0.994173  0.891114
  2  0.017415  0.790962
b 1  0.594080  0.041632
  2  0.001895  0.313100

In [12]:
# *ÂëΩÂêç* Â§öÁ∫ßÁ¥¢ÂºïÁ≠âÁ∫ßÂêçÁß∞
pop.index.names = ['state', 'year']
print(pop)

state  year
C      2000    33871648
       2010    37253956
N      2000    18976457
       2010    19378102
T      2000    20851820
       2010    25145561
dtype: int64

In [13]:
# Â§öÁ∫ßÂàóÁ¥¢Âºï
index = pd.MultiIndex.from_product([[2014, 2015], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])
data = np.random.randint(30, 50, (4, 6))
pd_da = pd.DataFrame(data, index, columns)
print(pd_da)
print(pd_da['Bob'])
print(pd_da.loc[:2014, 'Bob'])

subject    Bob      Guido      Sue
type        HR Temp    HR Temp  HR Temp
year visit
2014 1      37   49    47   39  47   38
     2      32   34    43   41  49   40
2015 1      44   41    48   43  33   44
     2      38   47    44   37  38   45
type        HR  Temp
year visit
2014 1      37    49
     2      32    34
2015 1      44    41
     2      38    47
type        HR  Temp
year visit
2014 1      37    49
     2      32    34

## Â§öÁ∫ßÂ∫èÂàóÂèñÂÄº‰∏éÂàáÁâá

#### Series

In [14]:
data = {('C', 2000): 33871648, ('C', 2010): 37253956, ('N', 2000): 18976457,
        ('N', 2010): 19378102, ('T', 2000): 20851820, ('T', 2010): 25145561}
pop = pd.Series(data)
pop.index.names = ['state', 'year']
print(pop)
# TODO 1:ÂÖ∑‰ΩìÂèñÂÄº
print(pop['C', 2010])
# TODO 2:Â±ÄÈÉ®ÂèñÂÄº‚Äî‚Äî‰∏Ä‰∏™Â±ÇÁ∫ß
print(pop['C'])
# TODO 3:Â±ÄÈÉ®ÂàáÁâá
print(pop['C':'N'])
# TODO 4:Á©∫ÂàáÁâá
print(pop[:, 2010])
# TODO 5:ÂÖ∑‰ΩìÂàáÁâá
print(pop['C', 2010])
# TODO 6:Êé©Á†Å
print(pop[pop > 30000000])
# TODO 7:Ëä±Âì®ÁöÑÁ¥¢Âºïüö©
print(pop[['C', 'T']])

state  year
C      2000    33871648
       2010    37253956
N      2000    18976457
       2010    19378102
T      2000    20851820
       2010    25145561
dtype: int64
37253956
year
2000    33871648
2010    37253956
dtype: int64
state  year
C      2000    33871648
       2010    37253956
N      2000    18976457
       2010    19378102
dtype: int64
state
C    37253956
N    19378102
T    25145561
dtype: int64
37253956
state  year
C      2000    33871648
       2010    37253956
dtype: int64
state  year
C      2000    33871648
       2010    37253956
T      2000    20851820
       2010    25145561
dtype: int64

#### DataFrame

In [15]:
index = pd.MultiIndex.from_product([[2014, 2015], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])
data = np.random.randint(30, 50, (4, 6))
pd_da = pd.DataFrame(data, index, columns)
print(pd_da)
# TODO 1:Á±ª‰ººSeries
print(pd_da['Guido', 'HR'])
print(pd_da['Guido'])
# TODO 2:iloc/locÁ±ª‰ºº‰∫åÁª¥Êï∞ÁªÑ
print(pd_da.loc[:, 'Guido':'Sue'])
print(pd_da.iloc[:3, :4])
# TODO 3ÔºöIndexSlice
idx = pd.IndexSlice
pd_da.loc[idx[:2014, 1], idx[:'Guido', 'Temp']]

subject    Bob      Guido      Sue
type        HR Temp    HR Temp  HR Temp
year visit
2014 1      44   49    47   35  36   35
     2      47   45    31   41  39   49
2015 1      47   30    46   47  45   41
     2      46   41    46   48  34   47
year  visit
2014  1        47
      2        31
2015  1        46
      2        46
Name: (Guido, HR), dtype: int32
type        HR  Temp
year visit
2014 1      47    35
     2      31    41
2015 1      46    47
     2      46    48
subject    Guido      Sue
type          HR Temp  HR Temp
year visit
2014 1        47   35  36   35
     2        31   41  39   49
2015 1        46   47  45   41
     2        46   48  34   47
subject    Bob      Guido
type        HR Temp    HR Temp
year visit
2014 1      44   49    47   35
     2      47   45    31   41
2015 1      47   30    46   47

subject     Bob Guido
type       Temp  Temp
year visit
2014 1       49    35

## Â§öÁ∫ßÁ¥¢ÂºïË°åÂàóËΩ¨Êç¢

In [16]:
# Â¶ÇÊûúMultiIndex‰∏çÊòØÊúâÂ∫èÁöÑÁ¥¢ÂºïÔºåÈÇ£Â§ßÂ§öÊï∞ÂàáÁâáÊìç‰Ωú‰ºöÂ§±Ë¥•
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.randint(1, 10, 6), index=index)
data.index.names = ['char', 'int']
print(data)
# print(data['a':'c']) # UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'Êä•Èîô
# data = data.sort_values() # ÊéíÂàóÁ≠âÁ∫ß‰∏îÊó†Â∫è
data = data.sort_index()    # ÊéíÂàóÁ¥¢Âºï
print(data)
print(data['a':'b'])

char  int
a     1      3
      2      9
c     1      8
      2      6
b     1      9
      2      8
dtype: int32
char  int
a     1      3
      2      9
b     1      9
      2      8
c     1      8
      2      6
dtype: int32
char  int
a     1      3
      2      9
b     1      9
      2      8
dtype: int32

In [17]:
index = pd.MultiIndex.from_product([[2014, 2015], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])
data = np.random.randint(30, 50, (4, 6))
pd_da = pd.DataFrame(data, index, columns)
print(pd_da)
# stack()/unstack()ÈÄöËøálevelÂèÇÊï∞ËΩ¨Êç¢Á¥¢ÂºïÂ±ÇÁ∫ß
print(pd_da.unstack())
print(pd_da.unstack(level=0))
print(pd_da.unstack(level=1))

subject    Bob      Guido      Sue
type        HR Temp    HR Temp  HR Temp
year visit
2014 1      38   48    32   47  45   41
     2      40   38    37   43  32   47
2015 1      38   49    32   37  40   33
     2      36   48    45   32  44   35
subject Bob              Guido              Sue
type     HR     Temp        HR     Temp      HR     Temp
visit     1   2    1   2     1   2    1   2   1   2    1   2
year
2014     38  40   48  38    32  37   47  43  45  32   41  47
2015     38  36   49  48    32  45   37  32  40  44   33  35
subject  Bob                Guido                 Sue
type      HR      Temp         HR      Temp        HR      Temp
year    2014 2015 2014 2015  2014 2015 2014 2015 2014 2015 2014 2015
visit
1         38   38   48   49    32   32   47   37   45   40   41   33
2         40   36   38   48    37   45   43   32   32   44   47   35
subject Bob              Guido              Sue
type     HR     Temp        HR     Temp      HR     Temp
visit     1   2    1   2     1   2    1   2   1   2    1   2
year
2014     38  40   48  38    32  37   47  43  45  32   41  47
2015     38  36   49  48    32  45   37  32  40  44   33  35

In [18]:
data = {('C', 2000): 33871648,
        ('C', 2010): 37253956,
        ('N', 2000): 18976457,
        ('N', 2010): 19378102,
        ('T', 2000): 20851820,
        ('T', 2010): 25145561}
pop = pd.Series(data)
pop.index.names = ['state', 'year']
print(pop)
# Ë°åÂàóÊ†áÁ≠æËΩ¨Êç¢
p = pop.reset_index(name='populations')
print(p)
print(p.set_index(['state']))
print(p.set_index(['state','year']))
print(p.set_index(['state','year','populations'])) # ËøôÂ∞±Â∞ÜÊï∞ÊçÆËΩ¨Êç¢‰∏∫‰∫ÜÊ†áÁ≠æ

state  year
C      2000    33871648
       2010    37253956
N      2000    18976457
       2010    19378102
T      2000    20851820
       2010    25145561
dtype: int64
  state  year  populations
0     C  2000     33871648
1     C  2010     37253956
2     N  2000     18976457
3     N  2010     19378102
4     T  2000     20851820
5     T  2010     25145561
       year  populations
state
C      2000     33871648
C      2010     37253956
N      2000     18976457
N      2010     19378102
T      2000     20851820
T      2010     25145561
            populations
state year
C     2000     33871648
      2010     37253956
N     2000     18976457
      2010     19378102
T     2000     20851820
      2010     25145561
Empty DataFrame
Columns: []
Index: [(C, 2000, 33871648), (C, 2010, 37253956), (N, 2000, 18976457), (N, 2010, 19378102), (T, 2000, 20851820), (T, 2010, 25145561)]

## Â§öÁ∫ßÁ¥¢ÂºïÁöÑÊï∞ÊçÆÁ¥ØËÆ°ÊñπÊ≥ï

In [19]:
index = pd.MultiIndex.from_product([[2014, 2015], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])
data = np.random.randint(30, 50, (4, 6))
pd_da = pd.DataFrame(data, index, columns)
print(pd_da)
print(pd_da.mean(axis=0))
print(pd_da.mean(axis=1))
print(pd_da.sum(axis=0))
print(pd_da.sum(axis=1))

subject    Bob      Guido      Sue
type        HR Temp    HR Temp  HR Temp
year visit
2014 1      45   41    37   48  40   31
     2      42   37    34   31  30   38
2015 1      48   40    34   34  40   39
     2      37   35    38   48  33   49
subject  type
Bob      HR      43.00
         Temp    38.25
Guido    HR      35.75
         Temp    40.25
Sue      HR      35.75
         Temp    39.25
dtype: float64
year  visit
2014  1        40.333333
      2        35.333333
2015  1        39.166667
      2        40.000000
dtype: float64
subject  type
Bob      HR      172
         Temp    153
Guido    HR      143
         Temp    161
Sue      HR      143
         Temp    157
dtype: int64
year  visit
2014  1        242
      2        212
2015  1        235
      2        240
dtype: int64