In [14]:
import pandas as pd
import numpy as np

## 合并数据集：Concat与Append操作

#### 简易合并

In [15]:
# Series
def my_table(ind):
    return np.random.randint(1,10,ind)
x = np.random.seed(0)
da1 = pd.Series(my_table(3),index=['a','b','c'])
da2 = pd.Series(my_table(3),index=['d','e','f'])
print(pd.concat([da1,da2]))
# DataFrame
da1 = pd.DataFrame(my_table((3,2)),index=['a','b','c'],columns=['A','B'])
da2 = pd.DataFrame(my_table((3,2)),index=['d','e','f'],columns=['A','B'])
print(pd.concat([da1,da2])) # axis默认为0/index
print(pd.concat([da1,da2],axis='columns'))

a    6
b    1
c    4
d    4
e    8
f    4
dtype: int32
   A  B
a  6  3
b  5  8
c  7  9
d  9  2
e  7  8
f  8  9
     A    B    A    B
a  6.0  3.0  NaN  NaN
b  5.0  8.0  NaN  NaN
c  7.0  9.0  NaN  NaN
d  NaN  NaN  9.0  2.0
e  NaN  NaN  7.0  8.0
f  NaN  NaN  8.0  9.0

#### 索引重复

In [16]:
# 区别 Pandas的concat会保留索引
da1 = pd.DataFrame(my_table((3,2)),index=['a','b','c'],columns=['A','B'])
da2 = pd.DataFrame(my_table((3,2)),index=['d','e','f'],columns=['A','B'])
da2.index = da1.index
print(pd.concat([da1,da2]))
# 捕捉索引重复错误 verify_integrity=True 有重复就会触发异常
try:
    print(pd.concat([da1,da2],verify_integrity=True))
except:
    print("有重复项")
# 忽略索引 ignore_index=True 创建新的整数索引
print(pd.concat([da1,da2],ignore_index=True))
# 增加多级索引 keys=['x','y'] 设置多级索引标签
print(pd.concat([da1,da2],keys=['x','y']))

   A  B
a  2  6
b  9  5
c  4  1
a  4  6
b  1  3
c  4  9
有重复项
   A  B
0  2  6
1  9  5
2  4  1
3  4  6
4  1  3
5  4  9
     A  B
x a  2  6
  b  9  5
  c  4  1
y a  4  6
  b  1  3
  c  4  9

#### 类似join的合并

In [17]:
da1 = pd.DataFrame(my_table((3,3)),columns=['a','b','c'])
da2 = pd.DataFrame(my_table((3,3)),columns=['b','c','d'])
print(da1,da2)
# 交集
print(pd.concat([da1,da2],join='inner'))
# 并集 default 'outer'
print(pd.concat([da1,da2],join='outer'))
# 设置列名 join_axis已弃用
print(help(pd.concat))

   a  b  c
0  2  4  4
1  4  8  1
2  2  1  5    b  c  d
0  8  4  3
1  8  3  1
2  1  5  6
   b  c
0  4  4
1  8  1
2  1  5
0  8  4
1  8  3
2  1  5
     a  b  c    d
0  2.0  4  4  NaN
1  4.0  8  1  NaN
2  2.0  1  5  NaN
0  NaN  8  4  3.0
1  NaN  8  3  1.0
2  NaN  1  5  6.0
Help on function concat in module pandas.core.reshape.concat:

concat(objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys: 'Iterable[Hashable] | None' = None, levels=None, names: 'list[HashableT] | None' = None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool | None' = None) -> 'DataFrame | Series'
    Concatenate pandas objects along a particular axis.

    Allows optional set logic along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned. One exception to
        this is when the non-concatentation axis is a DatetimeIndex and join='outer'
        and the axis is not already aligned. In that case, the non-concatenation
        axis is always sorted lexicographically.
    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    It is not recommended to build DataFrames by adding single rows in a
    for loop. Build a list of rows and make a DataFrame in a single concat.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

    Append a single row to the end of a ``DataFrame`` object.

    >>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
    >>> df7
        a   b
    0   1   2
    >>> new_row = pd.Series({'a': 3, 'b': 4})
    >>> new_row
    a    3
    b    4
    dtype: int64
    >>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
        a   b
    0   1   2
    1   3   4

None

#### _append方法

In [18]:
da1 = pd.DataFrame(my_table((3,2)),index=['a','b','c'],columns=['A','B'])
da2 = pd.DataFrame(my_table((3,2)),index=['d','e','f'],columns=['A','B'])
print(da1._append(da2))

   A  B
a  6  7
b  9  5
c  2  5
d  9  2
e  2  8
f  4  7

## 合并数据集：合并与连接

#### 数据连接的类型

In [19]:
#TODO 1:一对一
# 自动以em这一列作为键进行连接、排序，结果生成新的DataFrame，也可以自定义
df1 = pd.DataFrame({'em':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'em':['Lisa','Bob','Jack','Sue'],'hir':[2004,2008,2012,2014]})
print(df1)
print(df2)
print(pd.merge(df1,df2))

     em           gr
0   Bob   accounting
1  Jack  enginnering
2  Lisa  enginnering
3   Sue           hr
     em   hir
0  Lisa  2004
1   Bob  2008
2  Jack  2012
3   Sue  2014
     em           gr   hir
0   Bob   accounting  2008
1  Jack  enginnering  2012
2  Lisa  enginnering  2004
3   Sue           hr  2014

In [20]:
#TODO 1:多对一
# 左右有一列的值有重复，会保留重复值
df1 = pd.DataFrame({'em':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'gr':['accounting','enginnering','hr'],
                    'hir':[2004,2012,2014]})
print(df1)
print(df2)
print(pd.merge(df1,df2))

     em           gr
0   Bob   accounting
1  Jack  enginnering
2  Lisa  enginnering
3   Sue           hr
            gr   hir
0   accounting  2004
1  enginnering  2012
2           hr  2014
     em           gr   hir
0   Bob   accounting  2004
1  Jack  enginnering  2012
2  Lisa  enginnering  2012
3   Sue           hr  2014

In [21]:
#TODO 1:多对多
# 左右两个输入的共同列都有重复值
df1 = pd.DataFrame({'em':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'gr':['accounting','enginnering','enginnering','hr'],
                    'hir':[2008,2008,2012,2014]})
print(df1)
print(df2)
print(pd.merge(df1,df2))

     em           gr
0   Bob   accounting
1  Jack  enginnering
2  Lisa  enginnering
3   Sue           hr
            gr   hir
0   accounting  2008
1  enginnering  2008
2  enginnering  2012
3           hr  2014
     em           gr   hir
0   Bob   accounting  2008
1  Jack  enginnering  2008
2  Jack  enginnering  2012
3  Lisa  enginnering  2008
4  Lisa  enginnering  2012
5   Sue           hr  2014

#### 数据合并的参数

In [22]:
#TODO 1:参数on
# 只有在两个都有共同列名时才会使用
df1 = pd.DataFrame({'em':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'em':['Lisa','Bob','Jack','Sue'],'hir':[2004,2008,2012,2014]})
print(df1)
print(df2)
print(pd.merge(df1,df2))
print(pd.merge(df1,df2,on='em'))
# print(pd.merge(df1,df2,on='gr'))

     em           gr
0   Bob   accounting
1  Jack  enginnering
2  Lisa  enginnering
3   Sue           hr
     em   hir
0  Lisa  2004
1   Bob  2008
2  Jack  2012
3   Sue  2014
     em           gr   hir
0   Bob   accounting  2008
1  Jack  enginnering  2012
2  Lisa  enginnering  2004
3   Sue           hr  2014
     em           gr   hir
0   Bob   accounting  2008
1  Jack  enginnering  2012
2  Lisa  enginnering  2004
3   Sue           hr  2014

In [23]:
#TODO 1:left_on/right_on参数
# 合并两个列名不同
df1 = pd.DataFrame({'em':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'na':['Lisa','Bob','Jack','Sue'],'hir':[2004,2008,2012,2014]})
print(df1)
print(df2)
print(pd.merge(df1,df2,left_on='em',right_on='na'))
# 删除多余的列
print(pd.merge(df1,df2,left_on='em',right_on='na').drop('na',axis=1))

     em           gr
0   Bob   accounting
1  Jack  enginnering
2  Lisa  enginnering
3   Sue           hr
     na   hir
0  Lisa  2004
1   Bob  2008
2  Jack  2012
3   Sue  2014
     em           gr    na   hir
0   Bob   accounting   Bob  2008
1  Jack  enginnering  Jack  2012
2  Lisa  enginnering  Lisa  2004
3   Sue           hr   Sue  2014
     em           gr   hir
0   Bob   accounting  2008
1  Jack  enginnering  2012
2  Lisa  enginnering  2004
3   Sue           hr  2014

In [24]:
#TODO 1:left_index/right_index参数 join参数
# 合并索引,将索引设置为键实现合并
df1 = pd.DataFrame({'em':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'em':['Lisa','Bob','Jack','Sue'],'hir':[2004,2008,2012,2014]})
da1 = df1.set_index('em')
da2 = df2.set_index('em')
print(pd.merge(da1,da2,left_index=True,right_index=True))
# print(pd.merge(da1.join(da2,how='outer')))
# left_index索引与right_on列混合使用，
df1 = pd.DataFrame({'em':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'na':['Bob','Jack','Lisa','Sue'],'hir':['2004','2008','2012','2014']})
da1 = df1.set_index('em')
print(da1)
print(df2)
print(pd.merge(da1,df2,left_index=True,right_on='na'))

               gr   hir
em
Bob    accounting  2008
Jack  enginnering  2012
Lisa  enginnering  2004
Sue            hr  2014
               gr
em
Bob    accounting
Jack  enginnering
Lisa  enginnering
Sue            hr
     na   hir
0   Bob  2004
1  Jack  2008
2  Lisa  2012
3   Sue  2014
            gr    na   hir
0   accounting   Bob  2004
1  enginnering  Jack  2008
2  enginnering  Lisa  2012
3           hr   Sue  2014

In [25]:
#TODO 1:suffixs参数 两个重复列名 自定义后缀
df1 = pd.DataFrame({'na':['Bob','Jack','Lisa','Sue'],
                    'gr':['accounting','enginnering','enginnering','hr']})
df2 = pd.DataFrame({'na':['Bob','Jack','Lisa','Sue'],
                    'gr':['2004','2008','2012','2014']})
print(df1)
print(df2)
print(pd.merge(df1,df2,on='na'))
print(pd.merge(df1,df2,on='na',suffixes=["_1","_2"]))

     na           gr
0   Bob   accounting
1  Jack  enginnering
2  Lisa  enginnering
3   Sue           hr
     na    gr
0   Bob  2004
1  Jack  2008
2  Lisa  2012
3   Sue  2014
     na         gr_x  gr_y
0   Bob   accounting  2004
1  Jack  enginnering  2008
2  Lisa  enginnering  2012
3   Sue           hr  2014
     na         gr_1  gr_2
0   Bob   accounting  2004
1  Jack  enginnering  2008
2  Lisa  enginnering  2012
3   Sue           hr  2014

#### 集合操作规则

In [26]:
a = pd.DataFrame({'name':['Peter','Bob','Mary'],
                  'food':['fish','beans','bread']},
                 columns=['name','food'])
b = pd.DataFrame({'name':['Sue','Mary'],
                  'drink':['wine','beer']},
                 columns=['name','drink'])
print(a)
print(b)
# 内连接/交集
print(pd.merge(a,b,how='inner'))
# 外连接/并集
print(pd.merge(a,b,how='outer'))
# 左连接
print(pd.merge(a,b,how='left'))
# 右连接
print(pd.merge(a,b,how='right'))

    name   food
0  Peter   fish
1    Bob  beans
2   Mary  bread
   name drink
0   Sue  wine
1  Mary  beer
   name   food drink
0  Mary  bread  beer
    name   food drink
0    Bob  beans   NaN
1   Mary  bread  beer
2  Peter   fish   NaN
3    Sue    NaN  wine
    name   food drink
0  Peter   fish   NaN
1    Bob  beans   NaN
2   Mary  bread  beer
   name   food drink
0   Sue    NaN  wine
1  Mary  bread  beer