In [125]:
import pandas as pd
df = pd.read_excel('06.xlsx',sheet_name=0)
df

     名称     开盘     最高     最低     收盘  行业       成交量  是否高价股
0  中国石油   8.03   8.10   7.98   8.03  石化   1234566  False
1  工商银行   6.06   6.11   6.03   6.05  银行   8千万3000  False
2  上海石化   3.00   3.03   2.98   2.98  石化     345百万  False
3  建设银行   7.91   8.00   7.86   7.92  银行  54690000  False
4  中国平安  56.90  57.48  55.80  55.80  保险   3456780   True
5  中芯国际  96.87  98.70  94.90  94.91  芯片  34645657   True

In [126]:
# 遍历单元格
# df.shape[0] 行 
# df.shape[1] 列
# df.iloc[row,col] 值
for row in range(df.shape[0]):
    # print(row)
    # print(df.iloc[row,0])
    for col in range(df.shape[1]):
        # print(col)
        # print(df.iloc[row,col])
        print(f"{df.iloc[row,0]}-{df.columns[col]}:{df.iloc[row,col]}")

中国石油-名称:中国石油
中国石油-开盘:8.03
中国石油-最高:8.1
中国石油-最低:7.98
中国石油-收盘:8.03
中国石油-行业:石化
中国石油-成交量:1234566
中国石油-是否高价股:False
工商银行-名称:工商银行
工商银行-开盘:6.06
工商银行-最高:6.11
工商银行-最低:6.03
工商银行-收盘:6.05
工商银行-行业:银行
工商银行-成交量:8千万3000
工商银行-是否高价股:False
上海石化-名称:上海石化
上海石化-开盘:3.0
上海石化-最高:3.03
上海石化-最低:2.98
上海石化-收盘:2.98
上海石化-行业:石化
上海石化-成交量:345百万
上海石化-是否高价股:False
建设银行-名称:建设银行
建设银行-开盘:7.91
建设银行-最高:8.0
建设银行-最低:7.86
建设银行-收盘:7.92
建设银行-行业:银行
建设银行-成交量:54690000
建设银行-是否高价股:False
中国平安-名称:中国平安
中国平安-开盘:56.9
中国平安-最高:57.48
中国平安-最低:55.8
中国平安-收盘:55.8
中国平安-行业:保险
中国平安-成交量:3456780
中国平安-是否高价股:True
中芯国际-名称:中芯国际
中芯国际-开盘:96.87
中芯国际-最高:98.7
中芯国际-最低:94.9
中芯国际-收盘:94.91
中芯国际-行业:芯片
中芯国际-成交量:34645657
中芯国际-是否高价股:True

In [127]:
# 修改数据
# df.iloc[[0,2,3],[2,4]]*=2
# # df.loc[[0,2,3],['最高','收盘']]*=2
# df

In [128]:
# 修改整列
# df.iloc[:,2] *= 2
# df

In [129]:
# 修改整行
# df.iloc[2,1:5] *= 2
# df.iloc[2,:] = '从'
# df

In [130]:
# 函数修改
df3 = df.set_index('名称')
df3.at['上海石化','行业'] = '化石'
# at不能切片
# df3.at['上海石化','开盘':'收盘'] *= 10
df3

         开盘     最高     最低     收盘  行业       成交量  是否高价股
名称
中国石油   8.03   8.10   7.98   8.03  石化   1234566  False
工商银行   6.06   6.11   6.03   6.05  银行   8千万3000  False
上海石化   3.00   3.03   2.98   2.98  化石     345百万  False
建设银行   7.91   8.00   7.86   7.92  银行  54690000  False
中国平安  56.90  57.48  55.80  55.80  保险   3456780   True
中芯国际  96.87  98.70  94.90  94.91  芯片  34645657   True

In [131]:
da = pd.read_excel('07.xlsx',sheet_name=0)
da

                       书名    价格  推荐指数   卖出数量
0  数据结构与算法分析(Python 语言描述)   68元    4星   10千本
1      Python 核心编程(第 3 版)   79元  4.5星   2000
2           Python 从入门到实践  108元  4.8星   3000
3              流畅的 Python   89元  4.2星    4千册
4         Python 机器学习基础教程   95元  4.1星  50000
5           Python 网络编程基础   55元  3.8星  6000本
6    Python 自动化运维:技术与最佳实践   62元  4.7星   7000
7                    data   55元  5.0星  5000册
8             RPYTHONDATA   48元  4.6星  46452

In [132]:
# contains() 筛选包含字符串的行
da[da['书名'].str.contains('编程')]

                   书名   价格  推荐指数   卖出数量
1  Python 核心编程(第 3 版)  79元  4.5星   2000
5       Python 网络编程基础  55元  3.8星  6000本

In [133]:
# 运算
da[da['书名'].str.contains('编程|教程|基础')]

                   书名   价格  推荐指数   卖出数量
1  Python 核心编程(第 3 版)  79元  4.5星   2000
4     Python 机器学习基础教程  95元  4.1星  50000
5       Python 网络编程基础  55元  3.8星  6000本

In [134]:
da[da['书名'].str.contains('教程') & da['书名'].str.contains('基础')]

                书名   价格  推荐指数   卖出数量
4  Python 机器学习基础教程  95元  4.1星  50000

In [135]:
da[da['书名'].str.contains('教程') | da['书名'].str.contains('基础')]

                书名   价格  推荐指数   卖出数量
4  Python 机器学习基础教程  95元  4.1星  50000
5    Python 网络编程基础  55元  3.8星  6000本

In [136]:
# endswith() 结束字符
da[da['书名'].str.endswith('Python')]

           书名   价格  推荐指数 卖出数量
3  流畅的 Python  89元  4.2星  4千册

In [137]:
# startswith() 开始字符
da[da['书名'].str.startswith('Python')]

                     书名    价格  推荐指数   卖出数量
1    Python 核心编程(第 3 版)   79元  4.5星   2000
2         Python 从入门到实践  108元  4.8星   3000
4       Python 机器学习基础教程   95元  4.1星  50000
5         Python 网络编程基础   55元  3.8星  6000本
6  Python 自动化运维:技术与最佳实践   62元  4.7星   7000

In [138]:
da[da['书名'].str.startswith('Python')|da['书名'].str.endswith('Python')]

                     书名    价格  推荐指数   卖出数量
1    Python 核心编程(第 3 版)   79元  4.5星   2000
2         Python 从入门到实践  108元  4.8星   3000
3            流畅的 Python   89元  4.2星    4千册
4       Python 机器学习基础教程   95元  4.1星  50000
5         Python 网络编程基础   55元  3.8星  6000本
6  Python 自动化运维:技术与最佳实践   62元  4.7星   7000

In [139]:
da[da['书名'].str.startswith('Python')&da['书名'].str.endswith('Python')]

Empty DataFrame
Columns: [书名, 价格, 推荐指数, 卖出数量]
Index: []

In [140]:
# match()方法 多条件开始字符
da[da['书名'].str.match('数据|流畅')]

                       书名   价格  推荐指数  卖出数量
0  数据结构与算法分析(Python 语言描述)  68元    4星  10千本
3              流畅的 Python  89元  4.2星   4千册

In [141]:
# isnumeric() 是否全为数字 先转换.astype(str)
da[da['卖出数量'].astype(str).str.isnumeric()]

                     书名    价格  推荐指数   卖出数量
1    Python 核心编程(第 3 版)   79元  4.5星   2000
2         Python 从入门到实践  108元  4.8星   3000
4       Python 机器学习基础教程   95元  4.1星  50000
6  Python 自动化运维:技术与最佳实践   62元  4.7星   7000
8           RPYTHONDATA   48元  4.6星  46452

In [142]:
# islower() 小写
da[da['书名'].astype(str).str.islower()]

     书名   价格  推荐指数   卖出数量
7  data  55元  5.0星  5000册

In [143]:
# isupper() 大写
da[da['书名'].astype(str).str.isupper()]

            书名   价格  推荐指数   卖出数量
8  RPYTHONDATA  48元  4.6星  46452

In [144]:
# istitle() 检测字符串中所有的单词拼写首字母是否为大写，且其他字母为小写
da[da['书名'].astype(str).str.istitle()]

                       书名    价格  推荐指数   卖出数量
0  数据结构与算法分析(Python 语言描述)   68元    4星   10千本
1      Python 核心编程(第 3 版)   79元  4.5星   2000
2           Python 从入门到实践  108元  4.8星   3000
3              流畅的 Python   89元  4.2星    4千册
4         Python 机器学习基础教程   95元  4.1星  50000
5           Python 网络编程基础   55元  3.8星  6000本
6    Python 自动化运维:技术与最佳实践   62元  4.7星   7000

In [145]:
# isin() 检查名称是否在列表中，再去筛选
df[df['名称'].isin(['中国石油','中国平安'])]

     名称     开盘     最高     最低     收盘  行业      成交量  是否高价股
0  中国石油   8.03   8.10   7.98   8.03  石化  1234566  False
4  中国平安  56.90  57.48  55.80  55.80  保险  3456780   True

In [146]:
# 取反
df[~df['名称'].isin(['中国石油','中国平安'])]

     名称     开盘     最高     最低     收盘  行业       成交量  是否高价股
1  工商银行   6.06   6.11   6.03   6.05  银行   8千万3000  False
2  上海石化   3.00   3.03   2.98   2.98  石化     345百万  False
3  建设银行   7.91   8.00   7.86   7.92  银行  54690000  False
5  中芯国际  96.87  98.70  94.90  94.91  芯片  34645657   True

In [147]:
# nlargest() 最大值操作筛选
df[df['收盘'].isin(df['收盘'].nlargest(3))]

     名称     开盘     最高     最低     收盘  行业       成交量  是否高价股
0  中国石油   8.03   8.10   7.98   8.03  石化   1234566  False
4  中国平安  56.90  57.48  55.80  55.80  保险   3456780   True
5  中芯国际  96.87  98.70  94.90  94.91  芯片  34645657   True

In [148]:
# nsmallest() 最小值操作筛选
df[df['收盘'].isin(df['收盘'].nsmallest(3))]

     名称    开盘    最高    最低    收盘  行业       成交量  是否高价股
1  工商银行  6.06  6.11  6.03  6.05  银行   8千万3000  False
2  上海石化  3.00  3.03  2.98  2.98  石化     345百万  False
3  建设银行  7.91  8.00  7.86  7.92  银行  54690000  False

In [150]:
# apply() 定义自定义函数筛选
def abc(row):
    return (row['开盘']<8) and (row['最低']<8)
df[df.apply(abc,axis=1)]

     名称    开盘    最高    最低    收盘  行业       成交量  是否高价股
1  工商银行  6.06  6.11  6.03  6.05  银行   8千万3000  False
2  上海石化  3.00  3.03  2.98  2.98  石化     345百万  False
3  建设银行  7.91  8.00  7.86  7.92  银行  54690000  False

In [154]:
# select_dtypes() 筛选数据类型列 object int64 float64 bool
df.select_dtypes(['object','int64','bool'])

     名称  行业       成交量  是否高价股
0  中国石油  石化   1234566  False
1  工商银行  银行   8千万3000  False
2  上海石化  石化     345百万  False
3  建设银行  银行  54690000  False
4  中国平安  保险   3456780   True
5  中芯国际  芯片  34645657   True

In [156]:
# filter() 筛选列明
df.filter(like='价')

   是否高价股
0  False
1  False
2  False
3  False
4   True
5   True

In [160]:
# df.filter(regex='^[^最].*')
df.filter(regex='.*量$')

        成交量
0   1234566
1   8千万3000
2     345百万
3  54690000
4   3456780
5  34645657

In [162]:
df.filter(items=['最高','最低'])

      最高     最低
0   8.10   7.98
1   6.11   6.03
2   3.03   2.98
3   8.00   7.86
4  57.48  55.80
5  98.70  94.90

In [169]:
# query() 比较运算符筛选
# df.query('最高>20')
# df.query('最高<20 and 最低<10')
df.query('8<=最高<=20')

     名称    开盘   最高    最低    收盘  行业       成交量  是否高价股
0  中国石油  8.03  8.1  7.98  8.03  石化   1234566  False
3  建设银行  7.91  8.0  7.86  7.92  银行  54690000  False

In [175]:
db = pd.read_excel('05.xlsx',sheet_name=0)
# db.query(f'英语>{db.英语.mean()}')
# db.query(f'英语>{db.英语.mean()} and 数学>{db.数学.mean()}')
yuwen = db.语文.mean()
db.query('语文 > @yuwen')

   ID号  姓名 性别  语文  数学  英语
4  ID5  王五  男  85  88  79
5  ID6  罗六  女  86  69  96
6  ID7  安七  男  87  77  84

In [ ]:
# 链式操作
yingyu = db.英语.mean()
db.query('语文 > @yuwen').query('英语>@yingyu').query(f'数学>{db.数学.mean()}')

Empty DataFrame
Columns: [ID号, 姓名, 性别, 语文, 数学, 英语]
Index: []

In [188]:
# rolling() 根据样本筛选数据 window=3样本大小
dc = pd.read_excel('08.xlsx',sheet_name=0)
# dc['3日均价'] = dc['收盘'].rolling(window=3).mean()
dc['3日均价'] = dc['收盘'].rolling(window=3,center=True).mean()
dc

      名称     开盘     录髙     最低     收盘       3日均价
0   中国平安  32.38  32.53  31.23  31.43        NaN
1   中国平安  31.08  31.38  30.98  31.38  31.363333
2   中国平安  31.53  31.68  30.88  31.28  31.296667
3   中国平安  30.98  31.83  30.68  31.23  30.796667
4   中国平安  31.38  31.38  29.68  29.88  30.213333
5   中国平安  29.93  30.38  29.53  29.53  29.480000
6   中国平安  29.53  29.68  28.83  29.03  29.496667
7   中国平安  29.13  30.33  28.88  29.93  29.663333
8   中国平安  29.53  30.43  29.48  30.03  29.996667
9   中国平安  30.28  30.38  29.73  30.03  29.746667
10  中国平安  29.53  30.33  28.88  29.18  28.880000
11  中国平安  28.83  28.93  27.23  27.43        NaN

In [190]:
# sample()根据占比筛选随机子集frac=0.3比例random_state=42种子
dc.sample(frac=0.3,random_state=42)

      名称     开盘     录髙     最低     收盘       3日均价
10  中国平安  29.53  30.33  28.88  29.18  28.880000
9   中国平安  30.28  30.38  29.73  30.03  29.746667
0   中国平安  32.38  32.53  31.23  31.43        NaN
8   中国平安  29.53  30.43  29.48  30.03  29.996667

In [194]:
# n=1 抽样数量 replace=True是否放回
dc.sample(n=1,random_state=42,replace=True)

     名称     开盘     录髙     最低     收盘       3日均价
6  中国平安  29.53  29.68  28.83  29.03  29.496667