In [2]:
import pandas as pd

In [3]:
cjb = pd.read_csv('cjb.csv')
print(cjb.head())
wer = pd.Series([94,82,96,97,97,98,95,94,88])
print(wer)

    xm    bj xb  yw  sx  wy  zz  ls  dl  wl  hx  sw wlfk
0   周黎  1101  女  94  82  96  97  97  98  95  94  88   文科
1  汤海明  1101  男  87  94  89  95  94  94  90  90  89   文科
2  舒江辉  1101  男  92  79  86  98  95  96  89  94  87   文科
3   翁柯  1101  女  91  84  96  93  97  94  82  90  83   文科
4   祁强  1101  男  85  92  82  93  87  88  95  94  93   文科
0    94
1    82
2    96
3    97
4    97
5    98
6    95
7    94
8    88
dtype: int64

In [4]:
#NOTE: Series
# index 返回 Series 的索引标签（如行标签），可以是自定义或默认的整数索引
print(wer.index)
# values 返回 Series 的数值 value_counts 返回 Series 的数值次数
print(wer.values)
print(wer.value_counts())
# dtype 返回 Series 元素的数据类型
print(wer.dtype)
# name 返回或设置 Series 的名称，便于数据标识
wer.name = 'scores'
print(wer.name)
# shape 返回 Series 的维度形状，一维数组形式为 (n,)
print(wer.shape)
# size 返回 Series 中元素的总数量
print(wer.size)
#NOTE: DataFrame
# index 返回 DataFrame 的行索引标签。
print(cjb.index)
# columns 返回 DataFrame 的列名（列索引）。
print(cjb.columns)
# dtypes 返回每列的数据类型，适用于混合数据类型的表格。
print(cjb.dtypes)
# shape 返回 DataFrame 的行数和列数，格式为 (rows, columns)。
print(cjb.shape)
# values 返回 DataFrame 的数值，以二维 NumPy 数组形式存储。
print(cjb.values)
print(cjb.value_counts())
# T 返回 DataFrame 的转置（行与列互换）。
print(cjb.T)
# size 返回 DataFrame 中元素的总数量（行数 × 列数）。
print(cjb.size)
# axes 返回包含行索引和列索引的列表。
print(cjb.axes)
# ndim 返回 DataFrame 的维度数，固定为 2。
print(cjb.ndim)

RangeIndex(start=0, stop=9, step=1)
[94 82 96 97 97 98 95 94 88]
94    2
97    2
82    1
96    1
98    1
95    1
88    1
Name: count, dtype: int64
int64
scores
(9,)
9
RangeIndex(start=0, stop=775, step=1)
Index(['xm', 'bj', 'xb', 'yw', 'sx', 'wy', 'zz', 'ls', 'dl', 'wl', 'hx', 'sw',
       'wlfk'],
      dtype='object')
xm      object
bj       int64
xb      object
yw       int64
sx       int64
wy       int64
zz       int64
ls       int64
dl       int64
wl       int64
hx       int64
sw       int64
wlfk    object
dtype: object
(775, 13)
[['周黎' 1101 '女' ... 94 88 '文科']
 ['汤海明' 1101 '男' ... 90 89 '文科']
 ['舒江辉' 1101 '男' ... 94 87 '文科']
 ...
 ['徐宏平' 1115 '男' ... 64 75 '理科']
 ['昌肖峰' 1115 '男' ... 68 74 '理科']
 ['郑慕海' 1115 '男' ... 58 55 '理科']]
xm   bj    xb  yw  sx  wy  zz  ls  dl  wl  hx   sw  wlfk
龚淑洁  1109  女   92  93  87  93  93  96  93  96   89  理科      1
丁家政  1114  男   86  70  84  96  81  88  88  94   90  理科      1
万冲   1101  男   84  72  65  93  95  98  66  82   81  文科      1
万娟   1104  女   86  93  89  98  96  88  84  96   82  文科      1
万小丽  1105  女   88  88  93  94  87  94  72  96   83  文科      1
                                                           ..
乔杨琥  1112  男   86  87  90  84  85  94  86  90   88  理科      1
乐贻晃  1108  男   90  98  97  94  96  96  91  100  94  理科      1
乌水莲  1109  女   92  96  92  97  92  96  86  100  93  理科      1
严青凡  1105  男   89  79  71  94  91  98  85  82   84  文科      1
严秀姣  1110  女   94  92  97  99  97  96  91  100  99  理科      1
Name: count, Length: 775, dtype: int64
       0     1     2     3     4     5     6     7     8     9    ...   765  \
xm      周黎   汤海明   舒江辉    翁柯    祁强    湛容   穆伶俐   韦永杰   龚兰秀    舒亚  ...   孙荣华
bj    1101  1101  1101  1101  1101  1101  1101  1101  1101  1101  ...  1115
xb       女     男     男     女     男     女     女     男     女     女  ...     男
yw      94    87    92    91    85    92    88    81    88    94  ...    81
sx      82    94    79    84    92    82    72    89    77    81  ...    79
wy      96    89    86    96    82    85    86    87    95    88  ...    79
zz      97    95    98    93    93    91    94    97    94    91  ...    87
ls      97    94    95    97    87    90    87    94    84    85  ...    92
dl      98    94    96    94    88    92    88    96    94    98  ...    86
wl      95    90    89    82    95    82    89    81    87    81  ...    72
hx      94    90    94    90    94    98    98    88    94    88  ...    84
sw      88    89    87    83    93    90    94    83    82    88  ...    79
wlfk    文科    文科    文科    文科    文科    文科    文科    文科    文科    文科  ...    理科

       766   767   768   769   770   771   772   773   774
xm     僪修林   刘立斌    柳洁    瞿兵   谈莞发   应上清   徐宏平   昌肖峰   郑慕海
bj    1115  1115  1115  1115  1115  1115  1115  1115  1115
xb       男     男     女     男     男     男     男     男     男
yw      78    88    91    88    79    87    85    81    72
sx      62    73    85    68    78    63    59    62    59
wy      79    84    88    77    70    55    89    76    82
zz      94    87    89    91    83    93    80    89    92
ls      93    81    61    82    86   100    85    76    85
dl      90    84    92    87    86    94    82    91    82
wl      83    81    71    62    76    43    61    49    59
hx      86    88    82    88    78    88    64    68    58
sw      74    73    79    67    70    82    75    74    55
wlfk    理科    理科    理科    理科    理科    理科    理科    理科    理科

[13 rows x 775 columns]
10075
[RangeIndex(start=0, stop=775, step=1), Index(['xm', 'bj', 'xb', 'yw', 'sx', 'wy', 'zz', 'ls', 'dl', 'wl', 'hx', 'sw',
       'wlfk'],
      dtype='object')]
2

In [5]:
#NOTE:列选择
print(cjb[['xm','wlfk']])
#NOTE:行选择
print(cjb.loc[1:3])   # 注意 loc 包含结束索引
print(cjb.iloc[1:4])  # iloc 不包含结束索引
#NOTE:条件筛选
print(cjb[(cjb['sx'] > 90) & (cjb['yw'] < 80)])
#NOTE:字符串操作
cjb['xmlen'] = cjb['xm'].str.len()
print(cjb['xmlen'])

      xm wlfk
0     周黎   文科
1    汤海明   文科
2    舒江辉   文科
3     翁柯   文科
4     祁强   文科
..   ...  ...
770  谈莞发   理科
771  应上清   理科
772  徐宏平   理科
773  昌肖峰   理科
774  郑慕海   理科

[775 rows x 2 columns]
    xm    bj xb  yw  sx  wy  zz  ls  dl  wl  hx  sw wlfk
1  汤海明  1101  男  87  94  89  95  94  94  90  90  89   文科
2  舒江辉  1101  男  92  79  86  98  95  96  89  94  87   文科
3   翁柯  1101  女  91  84  96  93  97  94  82  90  83   文科
    xm    bj xb  yw  sx  wy  zz  ls  dl  wl  hx  sw wlfk
1  汤海明  1101  男  87  94  89  95  94  94  90  90  89   文科
2  舒江辉  1101  男  92  79  86  98  95  96  89  94  87   文科
3   翁柯  1101  女  91  84  96  93  97  94  82  90  83   文科
      xm    bj xb  yw  sx  wy  zz  ls  dl  wl   hx  sw wlfk
566  惠菲菲  1111  女  78  93  84  88  89  94  97   96  89   理科
574  邹明义  1111  男  77  91  86  93  90  95  77   98  87   理科
638  卫尹勇  1113  男  77  96  83  93  92  98  83   90  93   理科
645  段文才  1113  男  76  92  82  89  84  88  95  100  85   理科
748  康亚丽  1115  女  78  91  81  89  93  94  85   90  78   理科
0      2
1      3
2      3
3      2
4      2
      ..
770    3
771    3
772    3
773    3
774    3
Name: xmlen, Length: 775, dtype: int64

In [8]:
#NOTE:列转行
vocs = pd.read_csv('vocs.csv')
print(vocs.set_index(['Volatiles']).T)

Volatiles   Alcohols   Alcohols  Alcohols  Alcohols   Alcohols    Ketones  \
No           1.00000    2.00000    3.0000    4.0000    5.00000    6.00000
RI         788.20000  636.00000  636.0000  494.6000  563.30000  819.40000
Rt         243.83300  135.75100  135.7510   73.3160  103.66600  278.78600
Dt           1.47812    1.18694    1.3919    1.1322    1.13521    1.41817

Volatiles    Ketones    Ketones    Ketones    Ketones  ...    Alkanes  \
No           7.00000    8.00000    9.00000   10.00000  ...   22.00000
RI         749.00000  700.20000  581.50000  699.70000  ...  700.70000
Rt         209.74300  168.74800  111.71200  168.29600  ...  169.16200
Dt           1.15892    1.33575    1.16481    1.20064  ...    1.10715

Volatiles     Amines      Acids  Thiazoles  Pyrazines     Others     Others  \
No          23.00000   24.00000   25.00000   26.00000   27.00000   28.00000
RI         487.50000  576.20000  712.50000  903.90000  647.90000  694.50000
Rt          70.21000  109.37500  179.10400  378.89900  141.01800  163.92700
Dt           1.07889    1.08213    1.27281    1.48561    1.12732    1.25981

Volatiles     Others     Others     Others
No          29.00000   30.00000   31.00000
RI         531.00000  787.90000  683.20000
Rt          89.41700  243.40100  156.59800
Dt           1.12637    1.15443    1.06786

[4 rows x 31 columns]