In [5]:
import datatable as dt

df = dt.fread('1.csv',max_nrows=5)
# Solution
df[:, "new_column"] = dt.Frame([1, 2, 3, 4, 5]) #新增一列new_column
df

In [7]:
# Solution
df[:, "new_column"] = df[:, dt.f.age + dt.f.rad]
df.head()

In [9]:
# Solution
df[:, "new_column"] = df[:, dt.int32(dt.f.dis)]
df.head(5)

In [11]:
#age列，年龄大于60赋值old，反之为new
import numpy as np
df[:, "new_column"] = dt.Frame(np.where(df[:, dt.f.age > 60], 'Old', 'New'))
df.head(5)

In [13]:
df1 = dt.Frame(A=[1, 2, 3, 4], B=["a", "b", "c", "d"])
df2 = dt.Frame(A=[1, 2, 3, 4, 5], C=["a2", "b2", "c2", "d2", "e2"])
df2.key = "A"
output = df1[:, :, dt.join(df2)]
print(df1)
print(df2)
output

   |     A  B
   | int32  str32
-- + -----  -----
 0 |     1  a
 1 |     2  b
 2 |     3  c
 3 |     4  d
[4 rows x 2 columns]

    A | C
int32 | str32
----- + -----
    1 | a2
    2 | b2
    3 | c2
    4 | d2
    5 | e2
[5 rows x 2 columns]

In [15]:
df = dt.fread('1.csv')
df.names = {'zn': 'zn_new'}
df.head(5)