In [1]:
import pandas as pd

In [2]:
height = pd.read_csv('height.csv',index_col='Deep').T
height

Deep  15  20  25   30
x1    68  70  81   90
x2    76  74  79   95
x3    73  76  85  104
x4    64  80  90  101
x5    71  82  89   99

In [3]:
height = pd.melt(height,var_name='深度',value_name='产量')
height['深度'] = 'Deep' + height['深度'].astype(str)
height

        深度   产量
0   Deep15   68
1   Deep15   76
2   Deep15   73
3   Deep15   64
4   Deep15   71
5   Deep20   70
6   Deep20   74
7   Deep20   76
8   Deep20   80
9   Deep20   82
10  Deep25   81
11  Deep25   79
12  Deep25   85
13  Deep25   90
14  Deep25   89
15  Deep30   90
16  Deep30   95
17  Deep30  104
18  Deep30  101
19  Deep30   99

In [9]:
# 单因素方差分析
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
# 拟合方差分析模型
model1 = ols(formula='产量 ~ 深度',data=height).fit()
anova_lm(model1,typ=1)

            df   sum_sq  mean_sq          F    PR(>F)
深度         3.0  2114.55   704.85  29.065979  0.000001
Residual  16.0   388.00    24.25        NaN       NaN

In [11]:
# 模型摘要
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     产量   R-squared:                       0.845
Model:                            OLS   Adj. R-squared:                  0.816
Method:                 Least Squares   F-statistic:                     29.07
Date:                Sun, 13 Apr 2025   Prob (F-statistic):           1.03e-06
Time:                        16:45:09   Log-Likelihood:                -58.032
No. Observations:                  20   AIC:                             124.1
Df Residuals:                      16   BIC:                             128.0
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       70.4000      2.202     31.967      0.000      65.731      75.069
深度[T.Deep20]     6.0000      3.114      1.926      0.072      -0.602      12.602
深度[T.Deep25]    14.4000      3.114      4.624      0.000       7.798      21.002
深度[T.Deep30]    27.4000      3.114      8.798      0.000      20.798      34.002
==============================================================================
Omnibus:                        3.433   Durbin-Watson:                   1.828
Prob(Omnibus):                  0.180   Jarque-Bera (JB):                1.437
Skew:                          -0.231   Prob(JB):                        0.488
Kurtosis:                       1.771   Cond. No.                         4.79
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# 多重比较
import scikit_posthocs as sp
import numpy as np
# 执行 LSD 法（本质上仍为未校正 t 检验）
posthoc = sp.posthoc_ttest(
    height, 	
    val_col='产量', 
    group_col='深度', 
    pool_sd=True,      # 使用合并标准差
    # p_adjust='none'    # 不校正 p 值
)
print(np.round(posthoc,5))  # 输出两两比较的 p 值矩阵

         Deep15   Deep20   Deep25   Deep30
Deep15  1.00000  0.07200  0.00028  0.00000
Deep20  0.07200  1.00000  0.01587  0.00000
Deep25  0.00028  0.01587  1.00000  0.00072
Deep30  0.00000  0.00000  0.00072  1.00000