In [2]:
import pandas as pd
# from ydata_profiling import ProfileReport

df = pd.read_csv('exercise4_3.csv')
# ProfileReport(df, title="Profiling Report")
df

       男生     女生
0   182.1  175.4
1   183.3  162.7
2   176.6  174.6
3   177.3  164.8
4   174.3  157.0
5   178.9  157.3
6   177.5  164.3
7   179.5  167.6
8   168.3  167.8
9   173.3  168.7
10  170.3  170.7
11  177.9  168.2
12  174.4  171.7
13  196.0  166.3
14  178.4  172.3
15  188.5  167.3
16  174.2  179.2
17  191.4  174.9
18  174.4  173.8
19  176.8  167.4
20  177.2  163.7
21  167.8  165.2
22  183.4  158.9
23  174.7  169.9
24  174.7  168.5
25  171.2  164.0
26  175.1  172.5
27  181.1  162.1
28  182.3  169.8
29  174.4  168.0
30  188.6  165.6
31  181.0  163.2
32  166.7  164.5
33  176.6  166.5
34  184.2  179.1
35  176.1  172.7
36  175.9  163.5
37  186.6  167.8
38  188.5  175.3
39  166.5  174.6
40  174.9  168.5
41  177.5  167.9
42  180.2  167.2
43  188.2  168.3
44  178.3  165.2
45  181.9  164.0
46  189.1  166.2
47  178.0  168.9
48  167.8  162.0
49  186.1  167.2