In [1]:
import pandas as pd
from scipy import stats
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [2]:
# 创建示例数据
data = {'Group': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
        'Value': [68, 66, 65, 71, 72, 73, 74, 75, 76]}

df = pd.DataFrame(data)

In [3]:
df

  Group  Value
0     A     68
1     A     66
2     A     65
3     B     71
4     B     72
5     B     73
6     C     74
7     C     75
8     C     76

In [5]:
# 执行单因素方差分析
model = ols('Value ~ C(Group)', data=df).fit()
anova_table = anova_lm(model, typ=2)

print("单因素方差分析结果:")
anova_table

单因素方差分析结果:

              sum_sq   df          F    PR(>F)
C(Group)  116.222222  2.0  40.230769  0.000334
Residual    8.666667  6.0        NaN       NaN